<%- include('header.ejs', locals) %>

<h1>Signup error</h1>

<p>We're sorry, but there was an error. It's probably our fault.</p>

<p><%= errorMessage %></p>

<p>Please quote <b>Error Code <%= errorCode %></b> when reporting this error.</p>

<%- include('footer.ejs', locals) %>